    /* body {
          min-height: 100vh;
    }
    .chat-container {
      min-height: 80vh;
    }
    #sidebar-container {
  height: 100%;
}
    .sidebar {
      min-width: 250px;
    }
    .chat-area {
       height: 100%;
      flex-grow: 1;
    }
    .message-input {
      min-height: 80px;
    }
    .room-list li {
      padding: 8px;
      transition: background-color 0.2s;
    }
    .room-list li:hover {
      background-color: #e0e7ff;
    }
    .room-list li.active {
      background-color: #bfdbfe;
      font-weight: 500;
    } */
html, body {
  height: 100%;
  margin: 0;
}
.index-container{
    height: 100%;
} 
#sidebar-container {
  height: 100vh;
}

 .chat-area {
    flex: 1;
     height: 100vh;
    display: flex;
    flex-direction: column;
 }
 .message-input {
    min-height: 80px;
 }
 .room-list li {
    padding: 8px;
    transition: background-color 0.2s;
}
 .room-list li:hover {
    background-color: #e0e7ff;
 }
.room-list li.active {
    background-color: #bfdbfe;
    font-weight: 500;
 }
 .chat-container {
  flex: 1;
  display: flex;
  width: 100%;
}
