.chat-root {
  height: 100%;
   width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  flex-shrink: 0;
}

.chat-messages {
  flex: 1;
   width: 100%;
  overflow-y: auto;
  padding: 12px;
}

.message {
  margin-bottom: 8px;
}

.message-input {
  min-height: 70px;
  resize: none;
}

.chat-input {
  width: 100%;
}

.chat-footer {
  flex-shrink: 0;
}
