#login-container {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}

.chat-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box input {
  border-radius: 8px;
}
